.App-header{
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.App-header ul{
   margin: 0; 
   list-style: none;
   display: flex;
   flex-direction: row;
   gap: 10px;
   padding: 0;
}
.App-header a{
    color:  #3a7bd5;
 }
.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 94vh;
}

.blue{
    color:  #3a7bd5;
}
table{
    border-collapse: collapse;
    min-width: 300px;
}
table th{
    background-color: aliceblue;
    color: #3a7bd5;
    border:1px solid #3a7bd5;
    min-width:30px;

}
 table td{
    border:1px solid aliceblue;
    min-width:30px;
    text-align: center;
}
.red{
    color: #d53a3a;
}
.btnsuppr{
    margin: 0 14px;
    padding: 5px 10px;
    border: 0;
    background: #942c25;
    color: white;
    font-size: 18px;
}
.pouvoir-hero-perso{
    margin-bottom: 20px;
}